:root {
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --gray: #6b7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8b5cf6;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: #FFF;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}


h1 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: var(--gray)
}

#nova-tarefa {
    display: flex;

}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#nova-tarefa-input {
    font-size: 1.25rem;
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light)
}

#nova-tarefa-input::placeholder {
    color: var(--gray);

}

#nova-tarefa-submeter {
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#nova-tarefa-submeter:hover {
    opacity: 0.9;
}

#nova-tarefa-submeter:active {
    opacity: 0.4;
}

main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.lista-de-tarefas {
    padding: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

#tarefas .tarefa {
    display: flex;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    justify-content: space-between;
}

#tarefas .tarefa .conteudo .texto {
    display: block;
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    transition: 0.4s;
}

#tarefas .tarefa .conteudo .texto:not(:read-only) {
    color: var(--pink);
}

#tarefas .tarefa .funcoes {
    display: flex;
    margin: 0 -0.5rem;
}

.tarefa .funcoes button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.tarefa .funcoes button:hover {
    opacity: 0.9;
}

.tarefa .funcoes button:active {
    opacity: 0.4;
}

.tarefa .funcoes .editar {
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

.tarefa .funcoes .deletar {
    color: red;
}
